<h1 ng-if="isLogin" class="col-md-6 col-md-offset-3">Health Analytics Dashboard</h1>

<section class="col-md-6 col-md-offset-3">
  <article>
    <h2>
      <a href="#">
        <span class="glyphicon">&#xe067;</span> HEALTH TIPS
      </a>
    </h2>
  </article>
  <article>
    <h2>
      <a href="#">
        <span class="glyphicon">&#xe008;</span> NEW TO DIABETES
      </a>
    </h2>
  </article>
  <article>
    <h2>
      <a href="#">
        <span class="glyphicon">&#xe032;</span> DIET PLAN
      </a>
    </h2>
  </article>
</section>